*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env
node_modules
yarn.lock

# Python virtual environment
venv/

# Jenkins binary
jenkins.war

# Python cache
__pycache__/
*.pyc

# Local database
db.sqlite3

# Environment variables
.env

