version: '3.9'

services:
  web:
    build: .
    container_name: django-web
    ports:
      - "8000:8000"
    environment:
      DB_ENGINE: postgresql
      DB_NAME: django_db
      DB_USERNAME: django_user
      DB_PASS: django_pass
      DB_HOST: db
      DB_PORT: 5432
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: django-db
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

