version: "3.8"

services:
  db:
    image: postgres:15
    container_name: django-db
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: django-web
    command: python manage.py runserver 0.0.0.0:8000
    environment:
      - ALLOWED_HOSTS=51.21.170.236,localhost,127.0.0.1
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:

